In [1]:
import numpy as np
import pandas as pd
my_df = pd.read_csv('csv_sample.csv')
my_df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146

In [10]:
# multiple conditional AND
my_df[(my_df['First Name'] == 'Roy') & (my_df['Last Name'] == 'Berry')]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199

In [11]:
# get length
len(my_df[(my_df['First Name'] == 'Roy') & (my_df['Last Name'] == 'Berry')])

1

In [ ]:
# multiple condition OR

In [ ]:
# get length

In [13]:
# return specific column
my_df[(my_df['First Name'] == 'Roy') & (my_df['Last Name'] == 'Berry')]["Company"]

2    Murillo-Perry
Name: Company, dtype: object