In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('csv_sample.csv')
my_df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146

In [2]:
# grab a specific column
my_df['Company']

0                    Rasmussen Group
1                        Vega-Gentry
2                      Murillo-Perry
3    Dominguez, Mcmillan and Donovan
4           Martin, Lang and Andrade
Name: Company, dtype: object

In [3]:
# count value
my_df['Company'].value_counts()

Company
Rasmussen Group                    1
Vega-Gentry                        1
Murillo-Perry                      1
Dominguez, Mcmillan and Donovan    1
Martin, Lang and Andrade           1
Name: count, dtype: int64

In [4]:
# grab uniques
my_df['Company'].unique()

array(['Rasmussen Group', 'Vega-Gentry', 'Murillo-Perry',
       'Dominguez, Mcmillan and Donovan', 'Martin, Lang and Andrade'],
      dtype=object)