In [13]:
import numpy as np
import pandas as pd

In [14]:
my_df = pd.read_csv('csv_sample.csv')
my_df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146

In [15]:
# count distinct values - descending
my_df['First Name'].value_counts()

First Name
Sheryl     1
Preston    1
Roy        1
Linda      1
Joanna     1
Name: count, dtype: int64

In [16]:
# count distict value - ascending
my_df['First Name'].value_counts(ascending=True)

First Name
Sheryl     1
Preston    1
Roy        1
Linda      1
Joanna     1
Name: count, dtype: int64

In [17]:
# names - without nan
my_df['First Name'].value_counts()

First Name
Sheryl     1
Preston    1
Roy        1
Linda      1
Joanna     1
Name: count, dtype: int64

In [18]:
# names - with nan
my_df['First Name'].value_counts(dropna=False)

First Name
Sheryl     1
Preston    1
Roy        1
Linda      1
Joanna     1
Name: count, dtype: int64

In [19]:
# relative frequencies - percentage
my_df['First Name'].value_counts(normalize=True)

First Name
Sheryl     0.2
Preston    0.2
Roy        0.2
Linda      0.2
Joanna     0.2
Name: proportion, dtype: float64

In [20]:
# get specific item count
my_df['First Name'].value_counts()['Sheryl']

np.int64(1)

In [21]:
# get unique value - size
my_df.groupby('First Name').size()

First Name
Joanna     1
Linda      1
Preston    1
Roy        1
Sheryl     1
dtype: int64

In [22]:
# get unique value - count
my_df.groupby('First Name').count()

            Index  Customer Id  Last Name  Company  City  Country  Phone 1
First Name
Joanna          1            1          1        1     1        1        1
Linda           1            1          1        1     1        1        1
Preston         1            1          1        1     1        1        1
Roy             1            1          1        1     1        1        1
Sheryl          1            1          1        1     1        1        1